*{
    margin: 0;
    box-sizing: border-box;
}
.app{
    max-width: 600px;
}
.user-info{
    background-color: red;
    color: white;
}
.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message.own{
    background-color: rgb(255, 0, 0);
    margin-left: auto;
}